.dashboard-grid {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content:hover .ToDo {
    color: #ffcc00;
}

.content:hover .Stundenplan {
    color: #ffcc00;
}

.content:hover .Kalender {
    color: #ffcc00;
}

.content:hover {
    background-color: #0a2842;
    cursor: pointer;
}

.content {
    text-align: center;
    background-color: #0f3c63;
    color: white;
    margin: .75rem;
    padding: 2rem;
    border-radius: 20px;
}
